body{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
  
}

.flex{
    display: flex;
    
}
.helf{
    width: 50%;
}

.img{
    max-width: 80%;
    height: auto;

}
.heaer-top, .mymission-area{
    width: 80%;
    margin: auto;
}
.mission-foucs{
    font-size: 50px;
}
.mission{
    color:#FFAD5A;
}
.mission-foucs{
    text-align: center;
}